@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan:wght@400&family=Chonburi:wght@400&family=Lalezar:wght@400&display=swap");

/* ========================== */
/* ===== GLOBALS STYLES ===== */
/* ========================== */
* {
    box-sizing: border-box;
}
:root {
    --color-black-strong: hsl(210, 50%, 2%);
    --color-black-medium: hsl(210, 40%, 5%);
    --color-blue-weak: hsl(200, 100%, 70%);
    --color-white-weak: hsl(180, 20%, 20%);
    --color-white-medium: hsl(0, 0%, 80%);
    --color-white-strong: #fff;
    --color-primary-1: hsl(190, 100%, 20%);
    --color-primary-2: hsl(180, 80%, 30%);
    --color-primary-3: hsl(180, 100%, 50%);
    --color-focus: hsl(180, 50%, 40%);
    --color-invalid: hsl(350, 100%, 60%);
    --color-valid: hsl(150, 40%, 40%);
    --shadow-light: #000;
}
.weight-light {
    font-weight: 300;
}
.weight-medium {
    font-weight: 500;
}
.weight-bold {
    font-weight: 700;
}
.button {
    background: var(--color-primary-1);
    color: var(--color-white-strong);
    padding: 1rem 3rem;
    border: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 500ms;
}
.button:hover,
.button:focus {
    background: var(--color-primary-2);
}
.letter-spacing {
    letter-spacing: 1px;
}
.reset-padding {
    padding: 0;
}
.reset-margin {
    margin: 0;
}
.light-shadow {
    box-shadow: 0 0.25rem 0.5rem var(--shadow-light);
}

/* ======================== */
/* ===== LOCAL STYLES ===== */
/* ======================== */
body {
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
.main-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto 1fr;
    background: var(--color-black-strong);
    color: var(--color-white-strong);
    min-height: 100vh;
}
.image-container {
    background: url("./images/love-6328393_1280.webp");
    background-size: cover;
    background-position: center;
    grid-area: 1/1/4/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    --icon-size: 6rem;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 9rem;
}
.logo .brandname {
    font-family: "Bevan";
    font-size: 3rem;
}
.logo > .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background: url("./images/cozy_logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-container p a {
    color: var(--color-white-strong);
}

.introduction-container {
    grid-area: 1/2/2/3;
    padding: 6rem 4rem 3rem 4rem;
    max-width: 52rem;
    align-self: end;
}

.form-container {
    padding: 1rem 3rem 2rem 4rem;
    background: var(--color-black-medium);
    color: var(--color-white-medium);
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-grid {
    margin-right: min(33%, 16rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(15rem, 30%), 1fr));
    list-style: none;
    gap: 1rem max(1rem, 10%);
}
.form-grid > li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.25rem;
}
.form-grid label {
    margin-left: 0.125rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-grid label span {
    text-align: right;
    text-transform: initial;
    font-weight: 400;
    color: var(--color-blue-weak);
    opacity: 0%;
    transition: color 500ms, opacity 500ms;
}
.form-grid input:not(:placeholder-shown):focus + label span {
    display: initial;
    opacity: 100%;
}
.form-grid input:not(:placeholder-shown):not(:focus):invalid + label span {
    display: initial;
    opacity: 100%;
    color: var(--color-invalid);
}
.form-grid input {
    order: 1;
    height: 2rem;
    border: 1px solid var(--color-white-weak);
    background: var(--color-black-strong);
    color: var(--color-white-medium);
    border-radius: 0.3125rem;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    outline-offset: -2px;
    outline: 2px solid transparent;
    transition: outline-color 500ms;
}
.form-grid input:focus {
    outline-color: var(--color-focus);
}
.form-grid input:not(:placeholder-shown):not(:focus):invalid {
    outline-color: var(--color-invalid);
}
.form-grid input:not(:placeholder-shown):not(:focus):valid {
    outline-color: var(--color-valid);
}

.submit-container {
    grid-area: 3/2/4/3;
    padding: 3rem 4rem;
}
.submit-container .link {
    color: var(--color-primary-2);
    text-decoration: none;
    transition: 250ms;
}
.submit-container .link:hover,
.submit-container .link:focus {
    color: var(--color-primary-3);
}
